{% extends "base_template.html" %}
{% block content %}
    <h2>Recuperar contraseña</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        
        <!-- Mensajes de error o éxito -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li style="color: {{ 'red' if category == 'error' else 'green' }}; font-weight: bold;">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
